@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600&display=swap');
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-primary: #00450d;
  --color-primary-light: #1b6d24;
  --color-accent: #2a6b2c;
  --color-bg-light: #fcf9f8;
  --color-surface-card: #ffffff;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg-light);
  color: #1c1b1b;
  overflow-x: hidden;
}

/* Hide scrollbars globally while retaining scroll functionality */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

